.titled-form-container {
  width: 20rem;
}

.form-hrule {
  background-color: #737373;
  height: 1px;
  width: 100%;

  margin: 1rem 0 2rem 0;
}

h1 {
  margin: 1rem 0 1rem 0;
}

.simple-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  align-items: center;
  justify-content: center;

  margin: 1rem 0 1rem 0;
}

.prompting-area {
  display: flex;
  flex-direction: column;

  gap: 0.25rem;

  align-items: center;
  justify-content: center;

  height: 3rem;
}

.error-prompt,
.basic-prompt,
.ok-prompt {
  font-size: 0.5rem;
}

.selectable {
  color: #a3a3a3;

  &:hover {
    color: #101010;
    cursor: pointer;
  }
}

.error-prompt {
  color: #dc2626;
}

.ok-prompt {
  color: #16a34a;
}

.form-btn {
  color: inherit;
  background-color: inherit;

  font-size: 1rem;
  font-family: inherit;
  font-variant: small-caps;
  text-decoration: none;

  border: 2px solid #101010;
  border-radius: 7px;

  margin: 2rem;
  padding: 0.75rem 3rem;

  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 2px #101010;
  }

  &.pending,
  &.disabled {
    color: #a3a3a3;

    background-color: #f5f5f5;
    border: 2px solid #a3a3a3;

    &:hover {
      box-shadow: none;
    }
  }

  &.disabled:hover {
    cursor: not-allowed;
  }
}
